{% extends "candidate/base.html" %}
{% block title %}HOME{% endblock %}
{% block head %}
  {{ super() }}

<!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">-->
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/shoelace-css/1.0.0-beta16/shoelace.css">-->

{% endblock %}
{% block content %}

<p class="important">
{% if session['name'] %}
<!--<div class="container">-->
  <center><h4>VOICE TEST</h4></center></br>
    <div class="row">

      <div class="col s12 m1">
        <div class="card"></div>
      </div>

      <div class="col s12 m5">
        <div class="card">
          <div class="card-content">

            {% for d in data %}

            <center><h5>{{ d.name }}</h5></center><hr><br>
            <p> {{ d.test }} </p>

            {% endfor %}
          </div>
        </div>
      </div>

      <div class="col s12 m5">
        <div class="card">
          <center>
            <div class="card-content">
              <h5>Record</h5><hr><br>
              <p>
                <div class="app">

                  <div class="input-single">
                    <textarea id="note-textarea" name="test" form="usrform" placeholder="Start the test using voice recognition." rows="10"></textarea>
                  </div>

                  <button id="start-record-btn" title="Start Recording">Start Recognition</button>
                  <!--<button id="pause-record-btn" title="Pause Recording">Pause Recognition</button>-->
                  <form action="/candidate/save_result" id="usrform" method="post">
                    <input type="hidden" value="{{session['name']}}" name="name">
                    <input type="submit" size="20">
                  </form>

                  <!--<button id="save-note-btn" title="Save Note">Save Note</button><br><br>-->
                  <p id="recording-instructions">Press the <strong>Start Recognition</strong> button and allow access.</p>

                  <!--<hr><h4 style="color:blue;">My Notes</h4>-->
                  <!--<ul id="notes">-->
                    <!--<li>-->
                        <!--<p class="no-notes">You don't have any notes.</p>-->
                    <!--</li>-->
                  <!--</ul>-->
                </div>
                <!--</div>-->
              </p>
            </div>
          </center>
        </div>
      </div>

      <div class="col s12 m1">
        <div class="card"></div>
      </div>
    </div>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  <!-- Compiled and minified JavaScript -->
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>-->

</center>

  {% else %}

    <p style="color: red"> You still didn't set your Email, do it
        <a href="{{ url_for('candidate') }}">here</a></p>

  {% include 'candidate/session.html' %}
  {% endif %}
</p>

{% endblock %}
